nav {
  border-radius: 2px;
  background-color: #4b6587;
  color: white;
}
nav ul li a {
  color: white;
}
a.active,
a:hover {
  background-color: #415979;
  color: #f9f9f9;
}

.signout:hover {
  background-color: #415979;
  cursor: pointer;
}
