.nav-bar {
  border-radius: 2px;
  background-color: #4b6587;
  color: white;
}
.nav-bar > ul > li > a {
  color: white;
}
.nav-bar > ul > li > a.active,
.nav-bar > ul > li > a:hover {
  background-color: #415979;
  color: #f9f9f9;
}

.nav-bar > ul > li > .signout:hover {
  background-color: #415979;
  cursor: pointer;
}
